<!-- 底部 -->
<div id="footer" class="mar-t50">
    <div class="w3cschoolcc-block">
        <div class="w3cschoolcc cf">
            <dl>


            </dl>
            <dl>

            </dl>
            <dl>

            </dl>
            <dl>


            </dl>
            <div class="search-share">
                <div class="app-download">
                    <div>
                        <strong>关注微信</strong>
                    </div>
                </div>
                <div class="share">
                    <img width="150" height="150" src="http://7xw5qe.com1.z0.glb.clouddn.com/1.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="w-1000 copyright">
        Copyright © 2013-2017 <strong><a href="http://www.w3s.com.cn/" target="_blank">w3s教程</a></strong>&nbsp;
        <strong><a href="http://www.w3s.com.cn/" target="_blank">w3s.com.cn</a></strong> All Rights Reserved. 备案号：渝ICP备16004875号-2
    </div>
</div>