<!-- 导航栏 -->
<div class="container navigation">
    <div class="row">
        <div class="col nav">
            <ul id="index-nav">
                <li><a href="http://www.runoob.com/" data-id="index" title="菜鸟教程" class="current">首页</a></li>
                <li><a href="http://www.runoob.com/w3cnote/" target="_blank" data-id="note" title="菜鸟笔记">菜鸟笔记</a></li>
                <li><a href="http://c.runoob.com/" target="_blank" data-id="tool" title="不止于工具">菜鸟工具</a></li>
                <li><a href="javascript:void(0);" data-id="manual" title="参考手册">参考手册</a></li>
                <li><a href="javascript:void(0);" data-id="quiz" title="测验/考试">测验/考试</a></li>

            </ul>
        </div>
    </div>
</div>